.line1{
	display: block;
	width: 50px;
	height: 6px !important;
	background-color: white;
	position: absolute;
	top: 20%;
	left: 20%;
	transition: all .5s;
}

.line2{
	width: 50px;
	height: 6px;
	background-color: white;
	position: absolute;
	top: 50%;
	left: 20%;
	transition: all .5s;
}

.line3{
	width: 50px;
	height: 6px;
	background-color: white;
	position: absolute;
	top: 80%;
	left: 20%;
	transition: all .5s;
}

.myicon{
	display: block;
	position: relative;
	width: 80px;
	height: 80px;
	cursor: pointer;
}


/* Large desktop */
@media (min-width: 1200px) { 
	.myicon{
		display: none;
		position: relative;
		width: 80px;
		height: 80px;
		cursor: pointer;
	}
}

@media (max-width: 991px) { 
	#customNavbarButton{
		display: block !important;
	}

}