.parallax-section {
  margin-top:100px;
  background-attachment:fixed;
  background-image:url("../../assets/img/ccc.jpg");
  height:300px;
  background-repeat:no-repeat;
  background-position:center;
}

.parallax-section2 {
  margin-top:100px;
  background-attachment:fixed;
  background-image:url("../../assets/img/wd.jpg");
  height:300px;
  background-repeat:no-repeat;
  background-position:center;
}

.parallax-section3 {
  margin-top:100px;
  background-attachment:fixed;
  background-image:url("../../assets/img/iot2.jpg");
  height:300px;
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
}

#products-section {
  margin-top:100px;
}

.member {
  width:32rem;
}

