.jumbotron {
  position:relative;
  padding:0 !important;
  z-index: 1;
}

#mynavbar{
  display: none;
}

#logoPlaceholder{
  display: none;
}

.big-logo{
  background-color:rgba(37,37,37,0.0);
  position: absolute;
  height: 100%;
  width: 100%;
}

.real-logo-img{
  margin-top: 30px;
  height: 50%;
  background-size: contain;
  background-position: center;
  width: 100%;
  background-image: url('../img/logoBig.svg');
  background-repeat: no-repeat;
}
/*
.special-effect::before{
	content:'';
	display: block;
	width: 0%;
	height: 2px;
	background: #fff;
	transition: width .3s;
}

.special-effect:focus::before {
  width:100%;
  transition:width .3s;
}*/


.special-effect::after {
  content:'';
  display:block;
  position: relative;
  left: 50%;
  transform:translate(-50%, 0%);
  width:0;
  height:2px;
  background:#fff;
  transition:width .3s;
}

@media (max-width: 1200px) { 
	.special-effect::after {
	  content:'';
	  display:block;
	  position: relative;
	  left: 0%;
	  transform:translate(0%, 0%);
	  width:0%;
	  height:2px;
	  background:#fff;
	  transition:width .3s;
	}
	
	
}

/*.special-effect.currentItem::after{
  width:100%;
  transition:width .3s;
}*/

.special-effect:focus::after {
  width:100%;
  transition:width .3s;
}

.special-effect:hover::after {
  width:100%;
  transition:width .3s;
}

:focus {
    outline: none !important;
}

.video-button {
  font-size:1rem;
  position:absolute;
  left:50%;
  transform:translate(-50%, 60%);
}

.video-button {
  position:absolute;
  bottom:0;
  left:50%;
  transform:translate(-50%, -50%);
}

.video-button:hover {
  text-decoration:none !important;
  color:white !important;
  border-radius:5px 25px;
}

.video-button {
  padding:14px 60px;
  color:white !important;
}

.video-button::before {
  border-radius:5px 25px;
  transition:all 0.6s ease;
  background:#66bb6a;
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  z-index:-1;
}

.video-button::before {
  border-radius:5px 25px;
  width:0;
  height:100%;
}

.video-button:hover::before {
  border-radius:5px 25px;
  width:100%;
}

.video-button {
  border:1px solid #4CAF50;
  border-radius:5px 25px;
}

.myicon {
  font-size:2rem;
}

#about-section {
  margin-top:100px;
}

.box-title {
  margin-top:20px;
}

.box-par {
  margin-top:10px;
}

.line {
  display:inline-block;
  height:2px;
  width:30% !important;
  vertical-align:middle;
  border-bottom:1px solid black;
}

.star-holder {
  height:50px;
  width:100%;
}

html, body {
  overflow-x:hidden;
}

body {
  overflow-y:hidden;
}

#mynavbar {
  background-color:rgba(37,37,37,0.51);
  transition:background-color 1s linear;
  color:rgba(37,37,37,0.51);
}

