.web-icon {
  transform-origin:top;
  width:100%;
  height:100%;
  background:#f7f7ec;
  transform:translateY(0%) rotateX(0deg);
  transition:0.5s;
  font-size:4em;
  line-height:100px;
}

.web-box:hover .web-icon {
  cursor: pointer;
  transform:translateY(100%) rotateX(90deg);
}

.web-back {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#323434;
  transition:0.5s;
  transform-origin:bottom;
  transform:translateY(-100px) rotateX(90deg);
  color:white;
  font-size:4em;
}

.web-title {
  margin:0;
  padding:0;
  line-height:100px;
}

.web-box:hover .web-back {
  cursor: pointer;
  transform:translateY(0) rotateX(0deg);
}

